body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
  .login-background {
    background-image: url("https://images.pexels.com/photos/41257/pexels-photo-41257.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #2a2a2a;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 5px;
    color: #2a2a2a;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border-radius: 3px;
    // border: 1px solid #d9d9d9;
    font-size: 16px;
    color: #2a2a2a;
    &:focus {
      border-color: #0077ff;
      outline: none;
    }
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: #005fe6;
    }
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #0077ff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  


  

