body{
//   background-image: url("https://mcdn.wallpapersafari.com/medium/73/41/hBM51V.jpg");
background-size: cover;
// background-position: center;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
img{
    height: 90vh;
    width: 50vw;
}

#team1{
    color: red;
}
.substitute{
    color: blue;

}
.attacker{
    color: red;

}
.midfileder{
    color: pink;
}
.defender{
    color:  yellow;
}
.goalkeeper{
color: green;
}
